.recordings {
  flex: 1;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
}
.recordings .paper-plane-animation {
  position: absolute;
  color: var(--light-blue);
  font-size: 20px;
  z-index: 1;
  animation: var(--paper-plane-animation) 3s ease-in-out 0.2s infinite;
  bottom: 150px;
  right: 50%;
  transform: translateX(50%) rotateY(0deg) rotateZ(20deg);
  visibility: hidden;
}
@keyframes paper-plane-animation {
  0% {
    visibility: visible;
    bottom: 150px;
    right: 50%;
    transform: rotateY(0deg) rotateZ(20deg);
  }
  40% {
    transform: rotateY(0deg) rotateZ(20deg);
  }

  50% {
    right: 10%;
  }

  60% {
    transform: rotateY(180deg) rotateZ(20deg);
  }
  100% {
    bottom: 400px;
    right: 50%;
    transform: rotateY(180deg) rotateZ(20deg);
  }
}

/* --------------------------------------------------------------------------------- */

/* top section  */

.recordings .outputs {
  position: relative;
  width: 570px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  padding: 10px;
  overflow-y: hidden;
}
.recordings .outputs .summary {
  width: 30%;
  height: 100%;
  border: var(--white-border);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.recordings .outputs .recording-list {
  width: 70%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* ie */
  scrollbar-width: none; /* firefox */
}
.recordings .outputs .recording-list::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.recordings .outputs .recording-list .list-item {
  width: 100%;
  height: 100px;
  border: var(--white-border);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 10px;
}
/* --------------------------------------------------------------------------------- */

/* bottom section  */

.recordings .inputs {
  width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: var(--light-blur);
  border-top: var(--white-border);
  margin-top: 10px;
  padding: 10px;
  gap: 10px;
}

.recordings .inputs .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.recordings .inputs .row .icons i {
  font-size: 16px;
}
.recordings .inputs .row .icons i.fa-calendar-days {
  color: white;
}
.recordings .inputs .row .icons i.fa-sack-xmark {
  color: var(--light-red);
}
.recordings .inputs .row .icons i.fa-money-bill-trend-up {
  color: var(--light-green);
}
.recordings .inputs .row .icons i.fa-book {
  color: var(--yellow);
}
.recordings .inputs .row textarea {
  flex: 1;
  background-color: transparent;
  color: white;
  padding: 20px 10px;
  border: var(--white-border);
  border-radius: 20px;
  resize: none;
}
.recordings .inputs .row textarea:focus-visible {
  outline: none;
  border: var(--teal-border);
}
.recordings .inputs .row input {
  min-width: 108px;
  background-color: transparent;
  color: white;
  padding: 5px 5px;
  border: var(--white-border);
  border-radius: 20px;
  /* -moz-appearance: textfield; */
}
.recordings .inputs .row input::-webkit-inner-spin-button,
.recordings .inputs .row input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.recordings .inputs .row input.date {
  flex: 1;
}
.recordings .inputs .row input:focus-visible {
  outline: none;
  border: var(--teal-border);
}
.recordings .inputs .row select {
  flex: 1;
  background-color: transparent;
  color: white;
  padding: 4px 5px;
  border: var(--white-border);
  border-radius: 20px;
  cursor: pointer;
  appearance: none;
}
.recordings .inputs .row select:focus-visible {
  outline: none;
  border: var(--teal-border);
}
.recordings .inputs .row select option {
  background-color: var(--teal);
}

.recordings .inputs .row button {
  background-color: transparent;
  border: none;
}
.recordings .inputs .row button i {
  font-size: 16px;
  color: var(--light-blue);
  cursor: pointer;
}

/* --------------------------------------------------------------------------------- */

/* media quiries */

@media screen and (max-width: 480px) {
  .recordings {
    width: 100%;
  }
  .recordings .outputs {
    width: 100%;
  }
  .recordings .inputs {
    width: 100%;
  }
  .recordings .inputs .row {
    gap: 5px;
  }
  .recordings .inputs .row input {
    font-size: 12px;
  }
  .recordings .inputs .row select {
    font-size: 12px;
    min-width: 145px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .recordings .outputs {
    width: 450px;
  }
  .recordings .inputs {
    width: 450px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

@media screen and (min-width: 1201px) {
}
