.main-navbar {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: var(--blur);
  border-right: var(--white-border);
  order: 0;
}

.main-navbar .links ul li {
  list-style: none;
}

.main-navbar .links ul li a {
  display: block;
  font-size: 20px;
  padding: 15px 30px;
  color: white;
  transition: 0.3s ease-out;
  white-space: nowrap;
  user-select: none;
}

.main-navbar .links ul li a:hover {
  background-color: var(--teal);
  letter-spacing: 2px;
}

/* media quiries */

@media screen and (max-width: 480px) {
  .main-navbar {
    height: auto;
    width: 100%;
    border-top: var(--white-border);
    border-right: none;
    order: 2;
  }
  .main-navbar .links {
    width: 100%;
  }
  .main-navbar .links ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .main-navbar .links ul li a {
    font-size: 12px;
    padding: 15px 7px;
    text-align: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .main-navbar {
    height: auto;
    width: 100%;
    border-top: var(--white-border);
    border-right: none;
    order: 2;
  }
  .main-navbar .links {
    width: 100%;
  }
  .main-navbar .links ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .main-navbar .links ul li a {
    font-size: 16px;
    padding: 15px 10px;
    text-align: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

@media screen and (min-width: 1201px) {
}
